<title>The Nonstarters</title>

<h1>The Nonstarters</h1>

<h2>About</h2>

<b>N. Starter</b> had a short run as an obscure stand-up comedian in The Bronx from 1996 to the early 2000s, entertaining niche venues with his dry &amp; clever wit. It was a fine way of life with satisfying earnings until the Internet surged in popularity. Nowadays, people could just get their fix watching the big-shot comedians on Netflix without paying any mind to the home-grown talent that made New York City what it really is... minus the rampant consumerism, of course. Disgruntled with the current state of things, Mr. Starter picked up his guitar for the first time in a long time and channeled his energy into music, where songwriting became his passion in the mid 2010s. In 2017, he began sharing his music with the world through Bandcamp, with his whimsical stories accompanying him to form "The Nonstarters", writing and recording short records within the strict timespan of 24 hours. Sometimes, inspiration comes to you, and sometimes, you just have to say "fuck it" and drag inspiration by the ear.

<h2>Discography</h2>

<h3>N. Starter & The Bad Ideas</h3>

<ul>

	<li><a href="https://nonstarters.gitlab.io/sid1/">Shitty Improv Demos #1</a> (10th June 2018)

</ul>

<h3>The Nonstarters</h3>

<ul>

	<li><a href="https://nonstarters.bandcamp.com/album/birds-in-a-tree">Birds In A Tree</a> (3rd June 2018)
	<li><a href="https://nonstarters.bandcamp.com/album/the-golden-watch">The Golden Watch</a> (23rd September 2017)
	<li><a href="https://nonstarters.bandcamp.com/album/pragmatic-jellyfish">Pragmatic Jellyfish</a> (9th September 2017)
	<li><a href="https://nonstarters.bandcamp.com/album/total-eclipse">Total Eclipse</a> (21st August 2017)

</ul>

<h2>Writing</h2>

<a href="https://medium.com/@nstarter/the-chronicles-of-nothing-man-pt-1-the-coffee-shop-45d14745b1ed">The Chronicles of Nothing Man (pt 1): The Coffee Shop</a> (2nd July 2018)
